.App {
  text-align: center;
}

.footer {
  border: 7px solid maroon;
  border-radius: 5px;
  margin: 1em;
  padding: 2em;
}

.body {
  border: 7px solid orange;
  border-radius: 5px;
  margin: 1em;
  padding: 2em;
}

.header {
  border: 7px solid aqua;
  border-radius: 5px;
  margin: 1em;
  padding: 2em;
}
